# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
*.o
*.a
*.so
*.out
*.bin

# Executables
*.exe
*.EXE

# Temporary or system files
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
*.lock

# Archives and images
*.png
*.tar
*.zip

# VS Code related
/.vscode/
#/*.code-workspace

/Datasets/*
!/Datasets/record_d435i_data.sh
!/Datasets/record_t265_data.sh
!/Datasets/*/
#*.yaml
#*.txt
*.bag
#*.csv
*.png

# Third-party build directories
/Thirdparty/DBoW2/build/
/Thirdparty/g2o/build/

# Example binaries
/Examples/Calibration/recorder_realsense_D435i
/Examples/Calibration/recorder_realsense_D435i_v2
/Examples/Calibration/recorder_realsense_T265
/Examples/Calibration/recorder_realsense_T265_v2
/Examples/Monocular-Inertial/mono_inertial_euroc
/Examples/Monocular-Inertial/mono_inertial_realsense_D435i
/Examples/Monocular-Inertial/mono_inertial_realsense_t265
/Examples/Monocular-Inertial/mono_inertial_tum_vi
/Examples/Monocular/mono_euroc
/Examples/Monocular/mono_kitti
/Examples/Monocular/mono_realsense_D435i
/Examples/Monocular/mono_realsense_t265
/Examples/Monocular/mono_tum
/Examples/Monocular/mono_tum_vi
/Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i
/Examples/RGB-D/rgbd_realsense_D435i
/Examples/RGB-D/rgbd_tum
/Examples/Stereo-Inertial/stereo_inertial_euroc
/Examples/Stereo-Inertial/stereo_inertial_realsense_D435i
/Examples/Stereo-Inertial/stereo_inertial_realsense_t265
/Examples/Stereo-Inertial/stereo_inertial_tum_vi
/Examples/Stereo/stereo_euroc
/Examples/Stereo/stereo_kitti
/Examples/Stereo/stereo_realsense_D435i
/Examples/Stereo/stereo_realsense_t265
/Examples/Stereo/stereo_tum_vi

# Old example binaries
Examples_old/Monocular-Inertial/mono_inertial_euroc_old
Examples_old/Monocular-Inertial/mono_inertial_realsense_D435i_old
Examples_old/Monocular-Inertial/mono_inertial_realsense_t265_old
Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old
Examples_old/Monocular/mono_euroc_old
Examples_old/Monocular/mono_kitti_old
Examples_old/Monocular/mono_realsense_D435i_old
Examples_old/Monocular/mono_realsense_t265_old
Examples_old/Monocular/mono_tum_old
Examples_old/Monocular/mono_tum_vi_old
Examples_old/RGB-D-Inertial/rgbd_inertial_realsense_D435i_old
Examples_old/RGB-D/rgbd_realsense_D435i_old
Examples_old/RGB-D/rgbd_tum_old
Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
Examples_old/Stereo-In-ertial/stereo_inertial_realsense_D435i_old
Examples_old/Stereo-Inertial/stereo_inertial_realsense_t265_old
Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old
Examples_old/Stereo/stereo_euroc_old
Examples_old/Stereo/stereo_kitti_old
Examples_old/Stereo/stereo_realsense_D435i_old
Examples_old/Stereo/stereo_realsense_t265_old
Examples_old/Stereo/stereo_tum_vi_old

# Files without extensions
Monocular-Inertial/mono_inertial_euroc
Monocular-Inertial/mono_inertial_realsense_D435i
Monocular-Inertial/mono_inertial_realsense_t265
Monocular-Inertial/mono_inertial_tum_vi
Monocular/mono_euroc
Monocular/mono_kitti
Monocular/mono_realsense_D435i
Monocular/mono_realsense_t265
Monocular/mono_tum
Monocular/mono_tum_vi
RGB-D-Inertial/rgbd_inertial_realsense_D435i
RGB-D/rgbd_realsense_D435i
RGB-D/rgbd_tum
Stereo-Inertial/stereo_inertial_euroc
Stereo-Inertial/stereo_inertial_realsense_D435i
Stereo-Inertial/stereo_inertial_realsense_t265
Stereo-Inertial/stereo_inertial_tum_vi
Stereo/stereo_euroc
Stereo/stereo_kitti
Stereo/stereo_realsense_D435i
Stereo/stereo_realsense_t265
Stereo/stereo_tum_vi

# other
Vocabulary/ORBvoc.txt
/Examples_old/Stereo-Inertial/stereo_inertial_realsense_D435i_old
*.tar.gz
/Vocabulary/ORBvoc.txt